{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'management/css/staff_dashboard.css' %}">
    <title> Bus Fee Management</title>

</head>
<body>
    <nav>
        <strong>Fee Details</strong>
        <div>
            {% if user.is_authenticated %}
                <span>Hi, {{ user.username }}</span>
                <a href="{% url 'logout' %}">Logout</a>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>